# Student Loan Risk with Deep Learning

In [1]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import numpy as np
from tensorflow.keras.models import load_model
from tensorflow.keras.losses import MeanSquaredError

import warnings
warnings.filterwarnings("ignore")

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `student_loans.csv` file into a Pandas DataFrame. Review the DataFrame, looking for columns that could eventually define your features and target variables.

In [2]:
# Read the csv into a Pandas DataFrame
file_path = "https://static.bc-edx.com/mbc/ai/m6/datasets/student_loans.csv"
data = pd.read_csv(file_path)

# Review the DataFrame
data.head()

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score,credit_ranking
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [3]:
# Review the data types associated with the columns
print(data.dtypes)

payment_history           float64
location_parameter        float64
stem_degree_score         float64
gpa_ranking               float64
alumni_success            float64
study_major_code          float64
time_to_completion        float64
finance_workshop_score    float64
cohort_ranking            float64
total_loan_score          float64
financial_aid_score       float64
credit_ranking              int64
dtype: object

### Step 2: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “credit_ranking”. The remaining columns should define the features dataset.

In [4]:
# Define the target set y using the credit_ranking column
y = data['credit_ranking'].values

# Display a sample of y
print('array(' + np.array2string(y[:5], separator=', ')[1:-1] + ')')

array(5, 5, 5, 6, 5)

In [5]:
# Define features set X by selecting all columns but credit_ranking
X = data.drop(columns=['credit_ranking'])

# Review the features DataFrame
X.head()

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4

### Step 3: Split the features and target sets into training and testing datasets.

In [6]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

### Step 4: Use scikit-learn's `StandardScaler` to scale the features data.

In [7]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
scaler.fit(X_train)

# Transform (scale) the features training dataset
X_train_scaled = scaler.transform(X_train)

# Transform the features testing dataset
X_test_scaled = scaler.transform(X_test)

---

## Compile and Evaluate a Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [8]:
# Define the the number of inputs (features) to the model
num_features = X_train_scaled.shape[1]

# Review the number of features
print("Number of features:", num_features)

Number of features: 11

In [9]:
# Define the number of neurons in the output layer
num_neurons_output = 1

In [10]:
# Define the number of hidden nodes for the first hidden layer
num_hidden_nodes_layer1 = 6

# Review the number hidden nodes in the first layer
print("Number of hidden nodes in the first layer:", num_hidden_nodes_layer1)

Number of hidden nodes in the first layer: 6

In [11]:
# Define the number of hidden nodes for the second hidden layer
num_hidden_nodes_layer2 = 3

# Review the number hidden nodes in the second layer
print("Number of hidden nodes in the second layer:", num_hidden_nodes_layer2)

Number of hidden nodes in the second layer: 3

In [12]:
# Create the Sequential model instance
model = Sequential()

In [13]:
# Add the first hidden layer
model.add(Dense(num_hidden_nodes_layer1, activation='relu', input_shape=(num_features,)))

In [14]:
# Add the second hidden layer
model.add(Dense(num_hidden_nodes_layer2, activation='relu'))

In [15]:
# Add the output layer to the model specifying the number of output neurons and activation function
model.add(Dense(num_neurons_output, activation='relu'))

In [16]:
# Display the Sequential model summary
model.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━┓
┃ Layer (type)                         ┃ Output Shape                ┃         Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━┩
│ dense (Dense)                        │ (None, 6)                   │              72 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_1 (Dense)                      │ (None, 3)                   │              21 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_2 (Dense)                      │ (None, 1)                   │               4 │
└──────────────────────────────────────┴─────────────────────────────┴─────────────────┘

 Total params: 97 (388.00 B)

 Trainable params: 97 (388.00 B)

 Non-trainable params: 0 (0.00 B)

### Step 2: Compile and fit the model using the `mse` loss function, the `adam` optimizer, and the `mse` evaluation metric.

In [17]:
# Compile the Sequential model
model.compile(optimizer='adam', loss='mse', metrics=['mse'])

In [18]:
# Fit the model using 50 epochs and the training data
history = model.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
40/40 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 25.6977 - mse: 25.6978
Epoch 2/50
40/40 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 21.9029 - mse: 21.9029
Epoch 3/50
40/40 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 17.9358 - mse: 17.9359
Epoch 4/50
40/40 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 13.4100 - mse: 13.4101
Epoch 5/50
40/40 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 9.6667 - mse: 9.6668
Epoch 6/50
40/40 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 7.0387 - mse: 7.0388
Epoch 7/50
40/40 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 5.5177 - mse: 5.5178
Epoch 8/50
40/40 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 4.1945 - mse: 4.1946
Epoch 9/50
40/40 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 3.0535 - mse: 3.0536
Epoch 10/50
40/40 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 2.7950 - mse: 2.7950
Epoch 11/50
40/40 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 2.3093 - mse: 2.3093
Epoch 12/50
40/40 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 2.1072 - mse: 2.1072
Epoch 13/50
40/40 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 1.9252 - mse: 1.9252
Epoch 14/50
40/40 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 1.7666 - mse: 1.7666
Epoch 15/50
40/40 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 1.4984 - mse: 1.4984
Epoch 16/50
40/40 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 1.4410 - mse: 1.4410
Epoch 17/50
40/40 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 1.5398 - mse: 1.5397
Epoch 18/50
40/40 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 1.3728 - mse: 1.3728
Epoch 19/50
40/40 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 1.4015 - mse: 1.4015
Epoch 20/50
40/40 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 1.2344 - mse: 1.2344
Epoch 21/50
40/40 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 1.1150 - mse: 1.1150
Epoch 22/50
40/40 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 1.1925 - mse: 1.1925
Epoch 23/50
40/40 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 1.1108 - mse: 1.1108
Epoch 24/50
40/40 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 1.0326 - mse: 1.0326
Epoch 25/50
40/40 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 1.0836 - mse: 1.0836
Epoch 26/50
40/40 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 1.0682 - mse: 1.0682
Epoch 27/50
40/40 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.9835 - mse: 0.9835
Epoch 28/50
40/40 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.9935 - mse: 0.9936
Epoch 29/50
40/40 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.9454 - mse: 0.9454
Epoch 30/50
40/40 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.8268 - mse: 0.8268
Epoch 31/50
40/40 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.8359 - mse: 0.8358
Epoch 32/50
40/40 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.8332 - mse: 0.8331
Epoch 33/50
40/40 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.8266 - mse: 0.8266
Epoch 34/50
40/40 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.8144 - mse: 0.8144
Epoch 35/50
40/40 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.8120 - mse: 0.8120
Epoch 36/50
40/40 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.7461 - mse: 0.7461
Epoch 37/50
40/40 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.7665 - mse: 0.7665
Epoch 38/50
40/40 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.6835 - mse: 0.6835
Epoch 39/50
40/40 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.7006 - mse: 0.7006
Epoch 40/50
40/40 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.6926 - mse: 0.6926
Epoch 41/50
40/40 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.6515 - mse: 0.6515
Epoch 42/50
40/40 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.6133 - mse: 0.6133
Epoch 43/50
40/40 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.5961 - mse: 0.5961
Epoch 44/50
40/40 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.6793 - mse: 0.6793
Epoch 45/50
40/40 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.6034 - mse: 0.6034
Epoch 46/50
40/40 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.5797 - mse: 0.5797
Epoch 47/50
40/40 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.6214 - mse: 0.6214
Epoch 48/50
40/40 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.5609 - mse: 0.5609
Epoch 49/50
40/40 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.5540 - mse: 0.5540
Epoch 50/50
40/40 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.5404 - mse: 0.5404

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [19]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
loss, accuracy = model.evaluate(X_test_scaled, y_test)

# Display the model loss and accuracy results
print(f"Test Loss: {loss}")
print(f"Test Accuracy: {accuracy}")

10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.5977 - mse: 0.5977
Test Loss: 0.5990535616874695
Test Accuracy: 0.5990535616874695

### Step 4: Save and export your model to an HDF5 file, and name the file `student_loans.h5`.

In [20]:
# Set the model's file path
model_file_path = "student_loans.h5"

# Export your model to a HDF5 file
model.save(model_file_path)

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [21]:
model_file_path = "student_loans.keras"
model.save(model_file_path)

---
## Predict Loan Repayment Success by Using your Neural Network Model

### Step 1: Reload your saved model.

In [22]:
# Set the model's file path
model_file_path = "student_loans.keras"

# Load the model to a new object
loaded_model = load_model(model_file_path)

### Step 2: Make predictions on the testing data.

In [23]:
# Make predictions on the testing data
predictions = loaded_model.predict(X_test_scaled)

# Display the first few predictions
print("Predictions:", predictions[:5])

10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step
Predictions: [[5.4713354]
 [4.3957014]
 [5.718639 ]
 [5.35048  ]
 [7.0790224]]

### Step 3: Create a DataFrame to compare the predictions with the actual values.

In [24]:
# Create a DataFrame to compare the predictions with the actual values
comparison_df = pd.DataFrame({'Actual': y_test, 'Predicted': predictions.flatten()})

### Step 4: Display a sample of the DataFrame you created in step 3.

In [25]:
# Display sample data
comparison_df.head(10)

   Actual  Predicted
0       5   5.471335
1       6   4.395701
2       6   5.718639
3       6   5.350480
4       6   7.079022
5       6   6.161228
6       6   5.636922
7       5   3.897982
8       5   6.503029
9       5   5.072168

In [29]:
# Round the predictions to the nearest whole number and convert to integer
rounded_predictions = np.round(predictions).astype(int)

# Create a DataFrame to compare predictions with actual values
comparison_df_rounded = pd.DataFrame({'Predictions': rounded_predictions.flatten(), 'Actual': y_test})

# Display a sample of the comparison DataFrame with rounded predictions
comparison_df_rounded.head(10)

   Predictions  Actual
0            5       5
1            4       6
2            6       6
3            5       6
4            7       6
5            6       6
6            6       6
7            4       5
8            7       5
9            5       5